<div class="container mt-3">
  <div class="row">
    <div class="col col-12">
      <div class="card border-primary">
        <div class="card-header bg-primary text-white">{{ title }}</div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products" [routerLink]="'/productdetail/'+ item.id">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{ item.price | number:'1.0-0' | currencyvnd}}</td>
                <td [class]="item.status ? 'text-success' : 'text-danger'">{{item.status ? 'Active' : 'Deactive'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="card-footer">Footer</div> -->
      </div>
    </div>
  </div>
</div>
