<div class="container">
  <div class="row">
    <div class="col col-12 mt-3">
      <div class="card border-primary">
        <div class="card-header bg-primary text-white">App Component</div>
        <div class="card-body" >
          
          <ng-container *ngIf="isShowing">
            <app-ng-on-init-child
            [total]="total"></app-ng-on-init-child>
          </ng-container>
          <button type="button" class="btn btn-primary"
          (click)="onToggle()">Toggle</button>     

          <div class="mt-3">
            <label for="">Số thứ 1:</label>     
          <input type="number" class="form-control mb-3" [(ngModel)]="a">
          <label for="">Số thứ 2:</label>
          <input type="number" class="form-control mb-3" [(ngModel)]="b">
          <button type="button" class="btn btn-danger"
          (click)="amount()">Sum</button>
          </div>
        </div>
        <!-- <div class="card-footer">Footer</div> -->
      </div>
    </div>
  </div>
</div>