<ng-container *ngIf="product; else noProduct">
  <div class="container">
    <div class="row">
      <div class="col col-12 mt-5" style="display: flex; justify-content: center;">
        <div class="card mb-3 " [class]="product.status ? 'card-detail' : 'card-detail-oos'" style="max-width: 540px;">
          <div class="row g-0"
          
          >
            <div class="col-md-4" >
              <img 
              src="https://images.fpt.shop/unsafe/fit-in/214x214/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/4/25/637864982144816513_iphone-13-pro-max-dd-2-128-256-512-1tb.jpg" 
              class="img-fluid rounded-start" 
              alt="iphone"
              style="width: 20rem;">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <ul class="card-text">
                  <li>{{product.price | number | currencyvnd}}</li>
                  <li>{{product.status ? 'Còn Hàng' : 'Hết Hàng'}} </li>
                </ul>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    
              </div>
            </div>
            <div class="col-md-1 close-to-list" (click)="onBackToList()"><i class="fa-solid fa-xmark"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noProduct>
  <h1>No Product Found</h1>
</ng-template>



